body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #9099a2;
}

h1 {
  background: #96858f;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
}

.container {
  margin: 100px auto;
  background: #D5D5D5;
  width: 360px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  background: white;
  line-height: 35px;
  color: #666;
  padding: 0 5px 0px 15px;
  position: relative;
  cursor: default; 
}

li:nth-child(even) {
  background: #D5D5D5;
}

input {
  font-size: 1em; 
  background: #D5D5D5;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 13px 13px 13px 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #C6426E;
  border: 3px solid rgba(0, 0, 0, 0);
}

input::placeholder {
  color: #8B4513;
}

input:focus {
  background: white;
  border: 3px solid #96858f;
  outline: none;
}

.completed {
  color: grey;
  text-decoration: line-through;
  order: 1;
}

.fa-plus {
  float: right;
  position: relative;
  top: 4px;
  cursor: pointer;
}

span {
  background: #e74c3c;
  height: 35px;
  width: 0;
  opacity: 0;
  margin-right: 0;
  position: absolute;
  right: 0;
  text-align: center;
  color: white;
  transition: 0.2s linear;
  cursor: pointer;
}

li:hover span {
  width: 35px; 
  opacity: 1.0;
}
